.containerGeneral {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;   
    position: relative; 
}

.lineaHorizontal {
    height: 5px;
    background-color: #5a585a ;
    opacity: 25%;
    width: 100%;
}

h3 {
    padding-right: 10%;
    padding-left: 10%;
}

h2 {
  font-size: 40px;
}

.slider-container {
    position: absolute; 
    top: 20px;  
    right: 20px; 
    z-index: 2;
}

.toggle-container {
  width: 100px;
  height: 50px;
  background-color: var(--hue-3-transparent);
  border-radius: 50px;     
  position: relative;    
  cursor: pointer;
  user-select: none;  
  border: 1px solid white;      
}

.lang-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;        
  font-weight: bold;
  pointer-events: none;   
}

.lang-label.left {
  left: 15px;          
}

.lang-label.right {
  right: 15px;              
}

.toggle-handle {
  width: 50px;
  height: 50px;
  background-color: #9911ff;
  border-radius: 50%;
  position: absolute;
  top: 0;
}