.skillsContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skillsCard {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skillsButton {
    color: #66382C ;
    background-color: #f5937e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    outline-offset: 2px;
}
.skillsButton svg {
    width: 16px;
    height: 16px;
}

.skillsImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.text {
    color: #333;
}
